body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #a65822;

}
ul {
    list-style-type: none;
}
p {
    margin: 0;
}

hr {
    margin: 0;
}

input::placeholder {
    color: #a65822;
}

.navbar-inverse .navbar-nav > li > a {color:#fff !important; font-weight:bold;font-size:25px;}
.navbar-inverse {
    background-color: #a65822 !important;
    border-color: #a65822 !important;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

    .navbar-nav > li {
        display: inline-block;
        float: none;
    }
    .BGImg {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.PImg1 {
    background-image: url(../Images/pImg1.jpg);
    min-height:100vh;
}
.PImg3 {
    background-image: url(../Images/pImg3.jpg);
    min-height: 100vh;
}

.BGImg .PTitle {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    text-align: center;
    position: absolute;
    top: 20%;
    width: 100%;
}

.BGImg h1{font-size:80px;font-weight:bold;}

.carousel-inner img{width:100%;}

.section{padding-top:40px}


.section .aboutMe{padding:20px;text-align:center;}
.aboutMe .Title {

    font-weight: bold;
    font-size:  25px;
    padding: 10px;
    border-bottom: 2px solid #a65822;
    display:inline-block;
    text-transform:uppercase;
    word-spacing:10px;
}


.aboutMe .content{margin-top:30px}

.toolImg{}
.Resposive {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    max-height: 400px;
    display: block;
    max-width: 100%;
    height: auto;

}

.SpecialBox{background-color:#494949;text-transform:uppercase;font-size:40px;text-align:center;max-height:400px;opacity:0.8;margin-left:20%; color:#fff;line-height:55px; padding:15% 10px}
.Img2 {
    background-attachment: scroll;
    background-image: url(../Images/toolImg-w.jpg);
    min-height: 400px;
}

.formTitle{text-align:center;font-size:25px;text-transform:uppercase;padding:10% 0 30px 0;word-spacing:10px;font-weight:bold;}
.RFormUl input[type=text] {
    min-width: 100%;
    background-color: #eee;
    border: 1px solid #fff;
    display: inline-block;
    color: #a65822;
    padding: 3px 5px;
    margin-bottom: 10px;
}

.RFormUl textarea {
    min-width: 100%;
    background-color: #eee;
    border: 1px solid #fff;
    display: inline-block;
    color: #a65822;
    padding: 3px 5px;
}


.btn-RSubmit {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
    background-color: #a65822;
    color: #fff;
    border: none;
    word-spacing: 10px;
}

.Footer {
    background-color: #a65822;
    padding: 60px 80px;
    color: #fff;
    text-align: center;
}
    .Footer .title {
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid #fff;
        display: inline-block;
        padding-bottom: 10px;
        word-spacing:10px;
       
    }
.Footer .info{padding-bottom:60px;}
    .Footer i {
        display: block;
        font-style: normal;
        font-size: 18px;
    }
    .footer-copyright {
       
    }